@using (Html.BeginForm("Search", "Asset", FormMethod.Get, new { @class = "form-inline form-label-left mb-4 ", autocomplete = "off" }))
{
<div class="form-group mr-4">
    <label class="mr-3" for="asset">Location: </label>
    @Html.DropDownList("locationSearch", (IEnumerable<SelectListItem>)ViewBag.locationSearch, new { @class = "form-control" })
</div>
<div class="form-group mr-4">
    <label class="mr-3" for="asset">Type Search: </label>
    @Html.DropDownList("typeSearch", (IEnumerable<SelectListItem>)ViewBag.typeSearch, new { @class = "form-control" })
</div>
<div class="form-group mr-4">
    <label class="mr-3">Keyword: </label>
    <input type="search" class="form-control" id="searchString" placeholder="Search..." value="@ViewBag.searchString" name="searchString">
</div>
@*<div class="form-group mr-4">
        <label class="mr-3">From: </label>
        <input type="date" class="form-control" id="dateFrom" placeholder="Search..." value="@ViewBag.dateFrom" name="dateFrom">
    </div>
    <div class="form-group mr-4">
        <label class="mr-3">To: </label>
        <input type="date" class="form-control" id="dateTo" placeholder="Search..." value="@ViewBag.dateTo" name="dateTo">
    </div>*@

<div class="form-group">
    <!-- Submit button -->
    <button class="btn btn-primary" type="submit">Search</button>
</div>
<div class="form-group">
    <!-- Create button -->
    <a href="@Url.Action("Create")" class="btn btn-primary ml-2">Create</a>
</div>

}