@model CIM.Web.Infrastructure.PaginationSet<CIM.Web.Models.AreaViewModel>

@{
    ViewBag.Title = "Area Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-md-4"><h3 class="mb-4">Area Management</h3></div>
    </div>
    @Html.Partial("_Search")
</div>
@if (TempData["AlertMessage"] != null)
{
    <div id="AlertArea" class="alert @TempData["AlertType"] hide">
        @TempData["AlertMessage"]
    </div>
}
@if (Model.Count > 0)
{
    <table class="table table-responsive-md table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayName("Location Code")
                </th>
                <th>
                    @Html.DisplayName("Area Code")
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Description")
                </th>
                <th>
                    @Html.DisplayName("In Service")
                </th>
                <th>
                    @Html.DisplayName("Action")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AreaCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-break text-wrap">@(item.Description)</td>
                    <td style="width: 8.33%" class="text-center">
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td class="action-col text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "mr-1" })|
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="result-search-msg">
        <p>No results found</p>
    </div>
}
@Html.Partial("_Pagination", Model)
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AlertArea').removeClass('hide');
            $('#AlertArea').delay(3000).slideUp(500);
        });
    </script>
}