@model CIM.Web.Infrastructure.PaginationSet<CIM.Web.Models.AssetTypeViewModel>
@{
    ViewBag.Title = "Asset Type Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-md-4"><h3 class="mb-4">Asset Type Management</h3></div>
        <br />
    </div>
    @Html.Partial("_Search")
</div>

@if (TempData["AlertMessage"] != null)
{
<div id="AlertBox" class="alert @TempData["AlertType"] hide">
    @TempData["AlertMessage"]
</div>
}
<p></p>
@if (Model.Count > 0)
{
<table id="table" class="table table-responsive-md table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayName("Asset Type")
            </th>
            <th>
                @Html.DisplayName("Created At")
            </th>
            <th>
                @Html.DisplayName("Updated At")
            </th>
            <th>@Html.DisplayName("Action")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "mr-1" })|
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
            }
    </tbody>
</table>
}
else
{
<div class="result-search-msg">
    <p>No results found</p>
</div>
}
@Html.Partial("_Pagination", Model)

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(3000).slideUp(500);
        });
    </script>
}