@model CIM.Web.Models.PICViewModel

@{
    ViewBag.Title = "Person In Charge Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h4>Person In Charge ID: @Html.DisplayFor(model => model.ID)</h4>
</div>
<hr />
<div class="item-details">
    <div class="container">
        <div class="row">
            <div class="col">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Area Name:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Area.Name)
                    </dd>
                    <dt>
                        @Html.DisplayName("Area Code:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Area.AreaCode)
                    </dd>
                    <dt>
                        @Html.DisplayName("Asset Type:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AssetType.Name)
                    </dd>
                    <dt>
                        @Html.DisplayName("Technician:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ApplicationUser.UserName)
                    </dd>
                    <dt>
                        @Html.DisplayName("Start Date:")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt>
                        @Html.DisplayName("End Date:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Created At:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayName("Updated At:")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="col-md-offset-3 col-md-10">
    <a class="btn btn-primary btn-edit" href="@Url.Action("Edit", new { id = Model.ID } )">Edit</a>
    <a class="btn btn-link btn-back" href="@Url.Action("Index")">Back</a>
</div>