@model CIM.Web.Models.PICViewModel
@{
    ViewBag.Title = "Edit PIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "pic", FormMethod.Post, new { @class = "form-horizontal form-label-left", autocomplete = "off" }))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Edit PIC ID: @(Model.ID)</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.Label("Area:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Area.ID, new SelectList(ViewBag.areaViewModel, "ID", "Name"), htmlAttributes: new { @class = "form-control dropdown" })
            @Html.ValidationMessageFor(model => model.Area.ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Asset Type:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AssetType.ID, new SelectList(ViewBag.assetTypeViewModel, "ID", "Name"), htmlAttributes: new { @class = "form-control dropdown" })
            @Html.ValidationMessageFor(model => model.AssetType.ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("User:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ApplicationUser.Id, new SelectList(ViewBag.userViewModel, "ID", "UserName"), htmlAttributes: new { @class = "form-control dropdown" })
            @Html.ValidationMessageFor(model => model.ApplicationUser.Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Start Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("End Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Active:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Action("Index")" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>
}